<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>20201</key>
	<string>Cosmote</string>
	<key>20205</key>
	<string>Vodafone (Panafone)</string>
	<key>20209</key>
	<string>Info Quest S.A. (Q-TELECOM)</string>
	<key>20402</key>
	<string>Tele2</string>
	<key>20404</key>
	<string>Libertell (Vodafone)</string>
	<key>20408</key>
	<string>KPN Telecom</string>
	<key>20412</key>
	<string>Telfort (O2)</string>
	<key>20416</key>
	<string>T-Mobile (Ben)</string>
	<key>20420</key>
	<string>Duchtone (Orange)</string>
	<key>20601</key>
	<string>Belgacom Mobile (Proximus)</string>
	<key>20610</key>
	<string>Mobistar</string>
	<key>20620</key>
	<string>KPN Orange (BASE)</string>
	<key>20800</key>
	<string>Orange France</string>
	<key>20801</key>
	<string>Orange France</string>
	<key>20802</key>
	<string>Orange France</string>
	<key>20810</key>
	<string>SFR</string>
	<key>20811</key>
	<string>SFR</string>
	<key>20813</key>
	<string>SFR</string>
	<key>20820</key>
	<string>Bouygues Telecom</string>
	<key>20821</key>
	<string>Bouygues Telecom</string>
	<key>20888</key>
	<string>Bouygues Telecom</string>
	<key>21201</key>
	<string>Monaco Telecom</string>
	<key>21303</key>
	<string>Mobiland (S.T.A.)</string>
	<key>21401</key>
	<string>Airtel (Vodafone)</string>
	<key>21404</key>
	<string>Xfera Moviles</string>
	<key>21406</key>
	<string>Airtel (Vodafone)</string>
	<key>21407</key>
	<string>Telefonica Moviles (Movistar)</string>
	<key>21409</key>
	<string>Airtel (Vodafone)</string>
	<key>21601</key>
	<string>Pannon</string>
	<key>21630</key>
	<string>T-Mobile (Westel)</string>
	<key>21670</key>
	<string>Vodafone</string>
	<key>21803</key>
	<string>ERONET</string>
	<key>21901</key>
	<string>T-mobile</string>
	<key>21902</key>
	<string>Tele2</string>
	<key>21910</key>
	<string>Vipnet</string>
	<key>22001</key>
	<string>Telenor (Mobtel)</string>
	<key>22003</key>
	<string>Telecom Serbia</string>
	<key>22005</key>
	<string>VIP</string>
	<key>22201</key>
	<string>Telecom Italia Mobile</string>
	<key>22210</key>
	<string>Vodafone Omnitel</string>
	<key>22288</key>
	<string>WIND</string>
	<key>22299</key>
	<string>Hutchison 3G</string>
	<key>22603</key>
	<string>Cosmorom (Cosmote Romanian MT S.A.)</string>
	<key>22605</key>
	<string>RCS &amp; RDS DigiMobil</string>
	<key>22610</key>
	<string>Orange (MobilRom)</string>
	<key>22801</key>
	<string>Swisscom Mobile</string>
	<key>22802</key>
	<string>Sunrise (Diax)</string>
	<key>22803</key>
	<string>Orange</string>
	<key>23001</key>
	<string>T-Mobile (Radio Mobil)</string>
	<key>23002</key>
	<string>O2 (Eurotel)</string>
	<key>23101</key>
	<string>Orange Slovensko</string>
	<key>23102</key>
	<string>Eurotel Bratislava</string>
	<key>23106</key>
	<string>O2</string>
	<key>23201</key>
	<string>Mobilkom A1</string>
	<key>23203</key>
	<string>Max Mobile (T-Mobile)</string>
	<key>23205</key>
	<string>Connect (One)</string>
	<key>23207</key>
	<string>Telering</string>
	<key>23209</key>
	<string>Tele2</string>
	<key>23210</key>
	<string>Hutchison 3G</string>
	<key>23211</key>
	<string>Mobilkom A1</string>
	<key>23401</key>
	<string>UK01 - Mapesbury Communications</string>
	<key>23402</key>
	<string>Telefonica (O2)</string>
	<key>23403</key>
	<string>Jersey Telenet</string>
	<key>23404</key>
	<string>FMS Solutions</string>
	<key>23407</key>
	<string>Cable and Wireless UK</string>
	<key>23408</key>
	<string>OnePhone</string>
	<key>23410</key>
	<string>Telefonica (O2)</string>
	<key>23411</key>
	<string>Telefonica (O2)</string>
	<key>23412</key>
	<string>Railtrack</string>
	<key>23414</key>
	<string>Hay Systems</string>
	<key>23415</key>
	<string>Vodafone</string>
	<key>23416</key>
	<string>Opal</string>
	<key>23418</key>
	<string>Cloud 9</string>
	<key>23419</key>
	<string>Teleware</string>
	<key>23420</key>
	<string>Hutchison 3G UK</string>
	<key>23422</key>
	<string>Routo Telecom Ltd.</string>
	<key>23426</key>
	<string>Lycamobile Limited</string>
	<key>23430</key>
	<string>T-Mobile</string>
	<key>23431</key>
	<string>T-Mobile (Virgin MVNO)</string>
	<key>23432</key>
	<string>T-Mobile (Virgin MVNO)</string>
	<key>23433</key>
	<string>Orange</string>
	<key>23434</key>
	<string>Orange</string>
	<key>23450</key>
	<string>Jersey Telecom Wave</string>
	<key>23455</key>
	<string>Guernsey</string>
	<key>23458</key>
	<string>Manx</string>
	<key>23475</key>
	<string>Inquam Telecom</string>
	<key>23801</key>
	<string>Tele Denmark (TDC A/S)</string>
	<key>23802</key>
	<string>Sonofon</string>
	<key>23806</key>
	<string>Hi3G</string>
	<key>23820</key>
	<string>Telia (Orange)</string>
	<key>23877</key>
	<string>Tele2</string>
	<key>24001</key>
	<string>Telia</string>
	<key>24002</key>
	<string>Hi3G</string>
	<key>24007</key>
	<string>Comviq (Tele2)</string>
	<key>24201</key>
	<string>Telenor Mobil</string>
	<key>24202</key>
	<string>Netcom</string>
	<key>24204</key>
	<string>Tele2</string>
	<key>24205</key>
	<string>Network</string>
	<key>24401</key>
	<string>Elisa Corporation-GSM 900/1800 Finland</string>
	<key>24403</key>
	<string>DNA Finland</string>
	<key>24405</key>
	<string>Elisa Corporation-GSM 900/1800 Finland</string>
	<key>24409</key>
	<string>DNA Finland</string>
	<key>24412</key>
	<string>DNA Finland</string>
	<key>24414</key>
	<string>Alands Mobiltelefon AB</string>
	<key>24421</key>
	<string>Elisa Corporation-GSM 900/1800 Finland</string>
	<key>24491</key>
	<string>TeliaSonera</string>
	<key>24601</key>
	<string>Omnitel</string>
	<key>24602</key>
	<string>Bite GSM UAB</string>
	<key>24603</key>
	<string>Tele2 UAB</string>
	<key>24701</key>
	<string>Latvian Mobile Telephone</string>
	<key>24702</key>
	<string>Tele2 (Baltcom GSM)</string>
	<key>24705</key>
	<string>Bite GSM</string>
	<key>24801</key>
	<string>AS EMT</string>
	<key>24802</key>
	<string>Elisa Esti</string>
	<key>24803</key>
	<string>Tele2 Eesti</string>
	<key>25001</key>
	<string>Mobile TeleSysytem (MTS)</string>
	<key>25002</key>
	<string>MegaFon (JSC Sonic Duo)</string>
	<key>25003</key>
	<string>Nizhegorodskaya Cellular Communications</string>
	<key>25004</key>
	<string>Sibchallenge</string>
	<key>25007</key>
	<string>Zao Smarts</string>
	<key>25010</key>
	<string>Dontelecom</string>
	<key>25012</key>
	<string>Sibirtelecom</string>
	<key>25013</key>
	<string>Kuban-GSM</string>
	<key>25016</key>
	<string>New Telephone Company (NTC)</string>
	<key>25017</key>
	<string>Emark RMS</string>
	<key>25020</key>
	<string>Tele2 (Oblkom)</string>
	<key>25028</key>
	<string>Extel</string>
	<key>25035</key>
	<string>Motiv</string>
	<key>25039</key>
	<string>Uraltel</string>
	<key>25044</key>
	<string>StavTeleSot (North-Caucasian GSM)</string>
	<key>25092</key>
	<string>Primtelefone</string>
	<key>25099</key>
	<string>Beeline GSM 900/1800_ RUSSIJA</string>
	<key>25501</key>
	<string>UMC</string>
	<key>25502</key>
	<string>Ukrainian Radio Systems</string>
	<key>25503</key>
	<string>Kyivstar</string>
	<key>25505</key>
	<string>Golden Telecom</string>
	<key>25506</key>
	<string>Astelit</string>
	<key>25701</key>
	<string>Mobile Digital Communications (VELCOM)</string>
	<key>25702</key>
	<string>Mobile Telesystems</string>
	<key>25704</key>
	<string>Belarusian Telecommunications Network CJSC</string>
	<key>25901</key>
	<string>Voxtel</string>
	<key>25902</key>
	<string>Moldcell</string>
	<key>25904</key>
	<string>Eventis Mobile S.R.L.</string>
	<key>26001</key>
	<string>Plus (Polkomtel)</string>
	<key>26002</key>
	<string>Era (Heyah)</string>
	<key>26006</key>
	<string>P4 Sp. z o.o (PLAY)</string>
	<key>26201</key>
	<string>D1 (T-Mobile)</string>
	<key>26202</key>
	<string>D2 (Vodafone)</string>
	<key>26203</key>
	<string>E-plus</string>
	<key>26204</key>
	<string>D2 (Vodafone)</string>
	<key>26205</key>
	<string>E-plus</string>
	<key>26207</key>
	<string>O2 (Viag Interkom)</string>
	<key>26208</key>
	<string>O2 (Viag Interkom)</string>
	<key>26209</key>
	<string>D2 (Vodafone)</string>
	<key>26211</key>
	<string>O2 (Viag Interkom)</string>
	<key>26277</key>
	<string>E-plus</string>
	<key>26601</key>
	<string>Gibtel</string>
	<key>26801</key>
	<string>Telecel (Vodafone)</string>
	<key>26803</key>
	<string>Optimus (Sonaecom)</string>
	<key>26806</key>
	<string>TMN</string>
	<key>27001</key>
	<string>P &amp; T</string>
	<key>27077</key>
	<string>Tango</string>
	<key>27099</key>
	<string>VOXmobile</string>
	<key>27201</key>
	<string>Eircell (Vodafone)</string>
	<key>27202</key>
	<string>Esat Digifone (O2)</string>
	<key>27203</key>
	<string>Meteor</string>
	<key>27205</key>
	<string>Hutchison 3G</string>
	<key>27401</key>
	<string>Iceland Telecom Ltd (Landssiminn)</string>
	<key>27402</key>
	<string>Islandssimi (Vodafone)</string>
	<key>27406</key>
	<string>Null niu ehf</string>
	<key>27411</key>
	<string>Nova</string>
	<key>27601</key>
	<string>AMC Mobile</string>
	<key>27602</key>
	<string>Vodafone</string>
	<key>27603</key>
	<string>Eagle Mobile</string>
	<key>27801</key>
	<string>Vodafone Malta</string>
	<key>27821</key>
	<string>Mobile Communications Ltd (Go mobile)</string>
	<key>27877</key>
	<string>Melita Mobile Ltd. (3 G Telecoms Malta)</string>
	<key>28001</key>
	<string>CYTA (Vodafone)</string>
	<key>28010</key>
	<string>Areeba (Scancom)</string>
	<key>28201</key>
	<string>Geocell</string>
	<key>28202</key>
	<string>Magti Com</string>
	<key>28301</key>
	<string>ArmenTel</string>
	<key>28305</key>
	<string>Vivacell(K Telecom)</string>
	<key>28401</key>
	<string>Mobiltel</string>
	<key>28405</key>
	<string>Cosmo Bulgaria Mobile EAD (GloBul)</string>
	<key>28406</key>
	<string>Vivatel</string>
	<key>28601</key>
	<string>Turkcell</string>
	<key>28602</key>
	<string>Telsim (Vodafone)</string>
	<key>28603</key>
	<string>Aria</string>
	<key>28604</key>
	<string>Aycell</string>
	<key>28801</key>
	<string>Faroese Telecom</string>
	<key>28802</key>
	<string>Kall</string>
	<key>29001</key>
	<string>Tele Greenland A/S</string>
	<key>29340</key>
	<string>Si Mobil</string>
	<key>29341</key>
	<string>Mobitel</string>
	<key>29370</key>
	<string>Tusmobile</string>
	<key>29401</key>
	<string>T-Mobile (MobiMak)</string>
	<key>29402</key>
	<string>Cosmofon</string>
	<key>29501</key>
	<string>Telecom FL (Swisscom)</string>
	<key>29505</key>
	<string>Mobilkom (Liechtenstein) AG (FL1)</string>
	<key>29577</key>
	<string>Tele2 AG (Tango)</string>
	<key>29702</key>
	<string>Promonte</string>
	<key>29703</key>
	<string>MTel</string>
	<key>29704</key>
	<string>MONET</string>
	<key>302064</key>
	<string>Bell Mobility - Rogers Wireless CDMA</string>
	<key>302220</key>
	<string>Telus</string>
	<key>302302</key>
	<string>Telus Mobility</string>
	<key>302360</key>
	<string>Telus Mobility</string>
	<key>302370</key>
	<string>Microcell</string>
	<key>302610</key>
	<string>Bell Mobility - Rogers Wireless CDMA</string>
	<key>302653</key>
	<string>Telus Mobility</string>
	<key>302720</key>
	<string>Rogers Wireless Inc</string>
	<key>310004</key>
	<string>Verizon Wireless</string>
	<key>310012</key>
	<string>Verizon Wireless</string>
	<key>310013</key>
	<string>Verizon Wireless (Formerly Alltel)</string>
	<key>310016</key>
	<string>Cricket Communications</string>
	<key>310017</key>
	<string>North Sight Communications</string>
	<key>310020</key>
	<string>Union Telephone Company (APC Sprint Spectrum)</string>
	<key>310026</key>
	<string>T-Mobile (Cook Inlet)</string>
	<key>310030</key>
	<string>Centennial Communications</string>
	<key>310040</key>
	<string>Concho Cellular</string>
	<key>310050</key>
	<string>ACS Wireless</string>
	<key>310080</key>
	<string>Corr Wireless Communications</string>
	<key>310100</key>
	<string>Plateau Wireless (New Mexico RSA4 East)</string>
	<key>310110</key>
	<string>PTI Pacifica</string>
	<key>310120</key>
	<string>Sprint Nextel (CDMA network - formerly Sprint)</string>
	<key>310140</key>
	<string>Guam Tele Authority (GTA)</string>
	<key>310150</key>
	<string>AT&amp;T Mobility (Formerly Cingular BellSouth)</string>
	<key>310160</key>
	<string>T-Mobile (East Region)</string>
	<key>310170</key>
	<string>AT&amp;T Mobility (Formerly Cingular Pacific)</string>
	<key>310200</key>
	<string>T-Mobile (Seattle-Washington)</string>
	<key>310210</key>
	<string>T-Mobile (Kansas City)</string>
	<key>310220</key>
	<string>T-Mobile (OklahomaCity)</string>
	<key>310230</key>
	<string>T-Mobile (Salt Lake City)</string>
	<key>310240</key>
	<string>T-Mobile (Phoenix-Arizona)</string>
	<key>310250</key>
	<string>T-Mobile (Honolulu-H)</string>
	<key>310260</key>
	<string>T-Mobile (Denver-Colorado)</string>
	<key>310270</key>
	<string>T-Mobile (Formerly Powertel)</string>
	<key>310310</key>
	<string>T-Mobile (Central Region - Forme Aerial)</string>
	<key>310320</key>
	<string>Cellular One</string>
	<key>310340</key>
	<string>Westlink Communications</string>
	<key>310380</key>
	<string>AT&amp;T Mobility (Formerly AT&amp;T Wireless "Blue")</string>
	<key>310400</key>
	<string>Wave Runner LLC / ICAN (Guam)</string>
	<key>310410</key>
	<string>AT&amp;T Mobility (Formerly Cingular Genesis)</string>
	<key>310420</key>
	<string>Cincinnati Bell Wireless</string>
	<key>310450</key>
	<string>Viaero Wireless</string>
	<key>310460</key>
	<string>SIMMETRY / TMP</string>
	<key>310470</key>
	<string>Guam Cell &amp; Paging</string>
	<key>310490</key>
	<string>T-Mobile (Formerly SunCom)</string>
	<key>310560</key>
	<string>AT&amp;T Mobility (Formerly Cellular One / Dobson)</string>
	<key>310570</key>
	<string>MTPCS LLC (Dobson / Cellular One)</string>
	<key>310580</key>
	<string>Inland Cellular</string>
	<key>310590</key>
	<string>Verizon Wireless (Formerly Alltel)</string>
	<key>310600</key>
	<string>New Cell Inc. dba Cellcom</string>
	<key>310630</key>
	<string>Amerilink PCS CHOICE / Texas-10LLC</string>
	<key>310640</key>
	<string>Airadigm Communications (Einstein Wireless)</string>
	<key>310650</key>
	<string>Jasper Wireless Inc</string>
	<key>310660</key>
	<string>Metro PCS</string>
	<key>310670</key>
	<string>North Star</string>
	<key>310690</key>
	<string>Keystone Wireless / Conestoga</string>
	<key>310730</key>
	<string>SeaMobile</string>
	<key>310750</key>
	<string>East Kentucky Network LLC dba Appalachian Wireless</string>
	<key>310760</key>
	<string>Panhandle Telecommunications Systems</string>
	<key>310770</key>
	<string>Iowa Wireless Services</string>
	<key>310830</key>
	<string>Caprock Cellular</string>
	<key>310850</key>
	<string>Aeris Communications</string>
	<key>310890</key>
	<string>Unicel (Rural Cellular Corp)</string>
	<key>310900</key>
	<string>Taylor Telecommunications</string>
	<key>310910</key>
	<string>First Cellular Illinois</string>
	<key>310940</key>
	<string>Iris Wireless LLC</string>
	<key>310950</key>
	<string>XIT Wireless (Texas RSA1)</string>
	<key>310970</key>
	<string>Globalstar (Satellite Service)</string>
	<key>310999</key>
	<string>Metro PCS</string>
	<key>311000</key>
	<string>Mid-Tex Cellular</string>
	<key>311010</key>
	<string>Chariton Valley Communications</string>
	<key>311020</key>
	<string>Missouri RSA5 Partnership</string>
	<key>311030</key>
	<string>Indigo Wireless</string>
	<key>311040</key>
	<string>Commnet Wireless</string>
	<key>311050</key>
	<string>Wikes Cellular</string>
	<key>311060</key>
	<string>Farmers Cellular</string>
	<key>311070</key>
	<string>Easterbrooke Cellular Corp</string>
	<key>311090</key>
	<string>Long Lines Wireless LLC</string>
	<key>311100</key>
	<string>High Plains Wireless</string>
	<key>311120</key>
	<string>Choice Phone</string>
	<key>311130</key>
	<string>Cell One (Amarillo)</string>
	<key>311140</key>
	<string>Sprocket (MBO Wireless)</string>
	<key>311160</key>
	<string>Endless Mountains Wireless</string>
	<key>311170</key>
	<string>PetroCom Maritime (Broadpoint)</string>
	<key>311190</key>
	<string>Cellular Properties</string>
	<key>311210</key>
	<string>Farmers Cellular</string>
	<key>311230</key>
	<string>Cellular South</string>
	<key>311300</key>
	<string>Unicel (Rural Cellular Corp)</string>
	<key>311340</key>
	<string>Illinois Valley Cellular</string>
	<key>311370</key>
	<string>GCI Communications</string>
	<key>311440</key>
	<string>Bluegrass Cellular</string>
	<key>311580</key>
	<string>US Cellular</string>
	<key>311620</key>
	<string>Coleman County Telecom</string>
	<key>311770</key>
	<string>Iowa Wireless Services</string>
	<key>316010</key>
	<string>Sprint Nextel (IDEN network - formerly Nextel)</string>
	<key>316011</key>
	<string>Southern Communication Services (IDEN)</string>
	<key>33030</key>
	<string>Centennial Operations Corp.</string>
	<key>330490</key>
	<string>Suncom DBA</string>
	<key>33402</key>
	<string>Telcel (Radiomovil)</string>
	<key>33403</key>
	<string>Movistar Pegaso</string>
	<key>33820</key>
	<string>Cable &amp; Wireless Jamaice</string>
	<key>33850</key>
	<string>Mossel Digicel (TCI)</string>
	<key>34001</key>
	<string>Orange Caraibe Mobiles</string>
	<key>34002</key>
	<string>Outremer Telecom</string>
	<key>34020</key>
	<string>Digicel</string>
	<key>342600</key>
	<string>Cable &amp; Wireless</string>
	<key>34430</key>
	<string>APUA</string>
	<key>346140</key>
	<string>Cable &amp; Wireless</string>
	<key>34650</key>
	<string>Digicel Cayman</string>
	<key>348170</key>
	<string>Cable and Wireless</string>
	<key>35001</key>
	<string>Telecom Bermuda</string>
	<key>35002</key>
	<string>Mobility</string>
	<key>352110</key>
	<string>Cable &amp; Wireless</string>
	<key>35230</key>
	<string>Digicel</string>
	<key>356110</key>
	<string>Cable &amp; Wireless</string>
	<key>358110</key>
	<string>Cable &amp; Wireless</string>
	<key>36251</key>
	<string>Telcell</string>
	<key>36269</key>
	<string>Digicel</string>
	<key>36291</key>
	<string>Setel NV (UTS Wireless Curacao)</string>
	<key>36301</key>
	<string>SETAR (Servicio di Telecomunicacion di Aruba)</string>
	<key>36320</key>
	<string>New Millenium Telecom Services N.V.</string>
	<key>364390</key>
	<string>Bahamas Telecommunications Company</string>
	<key>365840</key>
	<string>Cable &amp; Wireless</string>
	<key>365850</key>
	<string>Wireless Ventures Ltd (Digicel Anguilla)</string>
	<key>366110</key>
	<string>Cable &amp; Wireless</string>
	<key>36801</key>
	<string>ETECSA (C-Com)</string>
	<key>37001</key>
	<string>Orange (FTD)</string>
	<key>37250</key>
	<string>Unigestion Holding S.A. (Digicel)</string>
	<key>37401</key>
	<string>TSTT</string>
	<key>37412</key>
	<string>TSTT</string>
	<key>37413</key>
	<string>Digicel</string>
	<key>374130</key>
	<string>Digicel</string>
	<key>37420</key>
	<string>TSTT</string>
	<key>376350</key>
	<string>Cable &amp; Wireless</string>
	<key>40001</key>
	<string>Azercell</string>
	<key>40002</key>
	<string>Bakcell</string>
	<key>40004</key>
	<string>Azerfon</string>
	<key>40101</key>
	<string>Beeline (Kar-Tel Ltd)</string>
	<key>40102</key>
	<string>K-Cell</string>
	<key>40177</key>
	<string>Mobile Telecom Service LLP</string>
	<key>40467</key>
	<string>Reliance Telecom</string>
	<key>41001</key>
	<string>Mobilink (Pakistan Mobile)</string>
	<key>41003</key>
	<string>Ufone (Pak Telecom Mobile)</string>
	<key>41004</key>
	<string>ZONG (CMPak)</string>
	<key>41006</key>
	<string>Telenor</string>
	<key>41007</key>
	<string>WARID Telecom</string>
	<key>41201</key>
	<string>Telephone Systems International (AWCC)</string>
	<key>41220</key>
	<string>Roshan</string>
	<key>41240</key>
	<string>Areba</string>
	<key>41250</key>
	<string>Etislat</string>
	<key>41301</key>
	<string>Mobitel</string>
	<key>41302</key>
	<string>Dialog (MTN)</string>
	<key>41303</key>
	<string>Celltel(Tigo)</string>
	<key>41305</key>
	<string>Bharti Airtel Lanka (Pvt)</string>
	<key>41308</key>
	<string>Hutchison</string>
	<key>41501</key>
	<string>FTML (Alfa)</string>
	<key>41503</key>
	<string>MTC Touch (LibanCell)</string>
	<key>41601</key>
	<string>Fastlink(JMTS Zain)</string>
	<key>41602</key>
	<string>Xpress</string>
	<key>41603</key>
	<string>UMC (Umniah)</string>
	<key>41677</key>
	<string>Mobil Com(Orange)</string>
	<key>41701</key>
	<string>Syratel</string>
	<key>41805</key>
	<string>AsiaCell</string>
	<key>41820</key>
	<string>Atheer Telecom</string>
	<key>41830</key>
	<string>Orascom Telecom Iraq Corporation (IRAQNA)</string>
	<key>41840</key>
	<string>KorekTel</string>
	<key>41862</key>
	<string>Itisaluna</string>
	<key>41902</key>
	<string>Mobile Telecommunications Co. (MTCNet)</string>
	<key>41903</key>
	<string>Wataniya</string>
	<key>41904</key>
	<string>Viva</string>
	<key>42001</key>
	<string>Saudi Telecom</string>
	<key>42003</key>
	<string>Mobily (Etihad Etisalat Company)</string>
	<key>42004</key>
	<string>MTC Saudi Arabia (Zain SA)</string>
	<key>42101</key>
	<string>Yemen Mobile (Sabafon)</string>
	<key>42102</key>
	<string>Spacetel (MTN)</string>
	<key>42202</key>
	<string>Oman Mobile (OmanTel)</string>
	<key>42203</key>
	<string>Nawras</string>
	<key>42402</key>
	<string>Etisalat</string>
	<key>42403</key>
	<string>Du</string>
	<key>42501</key>
	<string>Partner Orange</string>
	<key>42502</key>
	<string>Cellcom</string>
	<key>42503</key>
	<string>Pelephone Communications</string>
	<key>42505</key>
	<string>Palestine Telecomm Co Ltd (Jawaal)</string>
	<key>42577</key>
	<string>Mirs Communications</string>
	<key>42601</key>
	<string>Batelco</string>
	<key>42602</key>
	<string>MTC Vodafone (Bahrain) B.S.C.</string>
	<key>42701</key>
	<string>Q-Tel</string>
	<key>42702</key>
	<string>Vodafone Qatar Q.S.C.</string>
	<key>42899</key>
	<string>MobiCom Corporation</string>
	<key>42901</key>
	<string>Nepal Mobile</string>
	<key>43211</key>
	<string>MCI/TCI</string>
	<key>43214</key>
	<string>KFZO (TKC)</string>
	<key>43232</key>
	<string>Taliya</string>
	<key>43235</key>
	<string>Irancell</string>
	<key>43402</key>
	<string>Uzmacom</string>
	<key>43405</key>
	<string>Coscom</string>
	<key>43407</key>
	<string>Uzdunrobita</string>
	<key>43601</key>
	<string>JC Somoncom</string>
	<key>43603</key>
	<string>TT Mobile (MLT)</string>
	<key>43604</key>
	<string>Babilon Mobile</string>
	<key>43701</key>
	<string>Sky Mobile (Bitel)</string>
	<key>43705</key>
	<string>BiMoCom (Megacom)</string>
	<key>43801</key>
	<string>BCTI</string>
	<key>44001</key>
	<string>NTT DoCoMo</string>
	<key>44009</key>
	<string>NTT DoCoMo</string>
	<key>44010</key>
	<string>NTT DoCoMo</string>
	<key>44020</key>
	<string>J-Phone (Vodafone)</string>
	<key>45201</key>
	<string>Viet Nam Mobile Service (Mobifone)</string>
	<key>45202</key>
	<string>Viet Nam Telecoms Services (Vinaphone)</string>
	<key>45204</key>
	<string>Vietel Corporation (Viettel Mobile)</string>
	<key>45400</key>
	<string>Hong Kong CSL Ltd (Pacific Link)</string>
	<key>45401</key>
	<string>Hutchison Telephone Co. Ltd (Orange)</string>
	<key>45402</key>
	<string>Hong Kong CSL Ltd (Pacific Link)</string>
	<key>45403</key>
	<string>Hutchison 3G</string>
	<key>45404</key>
	<string>Hutchison Telephone Co. Ltd (Orange)</string>
	<key>45406</key>
	<string>SmarTone Mobile Communications</string>
	<key>45410</key>
	<string>New World Pcs</string>
	<key>45412</key>
	<string>Peoples TC (PCCWHKTC)</string>
	<key>45414</key>
	<string>Hutchison Telephone Co. Ltd (Orange)</string>
	<key>45415</key>
	<string>SmarTone Mobile Communications</string>
	<key>45416</key>
	<string>Mandarin Communications Ltd (Sunday)</string>
	<key>45417</key>
	<string>SmarTone Mobile Communications</string>
	<key>45418</key>
	<string>Hong Kong CSL Ltd (Pacific Link)</string>
	<key>45500</key>
	<string>SmarTone Mobile Communications</string>
	<key>45501</key>
	<string>C.T.M. (TELEMOVEL+ GSM900-Macau)</string>
	<key>45503</key>
	<string>Hutchison Telephone Macau</string>
	<key>45601</key>
	<string>CamGSM (MobiTel)</string>
	<key>45602</key>
	<string>Casacom (Samart) GSM 900</string>
	<key>45608</key>
	<string>Viatel Metfone</string>
	<key>45609</key>
	<string>Sotelco Ltd. (Beeline-KH)</string>
	<key>45618</key>
	<string>Camshin (Shinawatra) DCS 1800</string>
	<key>456456</key>
	<string>Smart mobile (Latelz)</string>
	<key>45702</key>
	<string>ETL</string>
	<key>45703</key>
	<string>Asia Telecommunication (LAT)</string>
	<key>45708</key>
	<string>Milicom (Tango)</string>
	<key>46000</key>
	<string>China Mobile</string>
	<key>46001</key>
	<string>China Unicom</string>
	<key>46002</key>
	<string>China Mobile</string>
	<key>46601</key>
	<string>Far EasTone Telecommunications</string>
	<key>46611</key>
	<string>Chung Hwa Telecom LDM</string>
	<key>46688</key>
	<string>KG Telecom</string>
	<key>46689</key>
	<string>VIBO</string>
	<key>46693</key>
	<string>Mobitai</string>
	<key>46697</key>
	<string>Taiwan Cellular Corporation (TWNGSM)</string>
	<key>46699</key>
	<string>TransAsia Telecommunications</string>
	<key>47001</key>
	<string>GrameenPhone</string>
	<key>47002</key>
	<string>TM International (AKTEL)</string>
	<key>47003</key>
	<string>Sheba Telecom (Banglalink)</string>
	<key>47007</key>
	<string>Warid Telecom</string>
	<key>47201</key>
	<string>Dhiraagu</string>
	<key>47202</key>
	<string>Wataniya Telecom</string>
	<key>50212</key>
	<string>Maxis</string>
	<key>50216</key>
	<string>Digi</string>
	<key>50218</key>
	<string>U-Mobile</string>
	<key>50219</key>
	<string>Celcom</string>
	<key>50501</key>
	<string>Telstra</string>
	<key>50502</key>
	<string>Optus</string>
	<key>50503</key>
	<string>Vodafone</string>
	<key>50506</key>
	<string>Hutchison 3G</string>
	<key>51001</key>
	<string>Satelindo(PT Indosat)</string>
	<key>51008</key>
	<string>PT Natrindo Telepon Seluler (Axis)</string>
	<key>51010</key>
	<string>PT Telekomunikasi Selular (Telkomsel)</string>
	<key>51011</key>
	<string>PT. Excelcomindo (Excelcom)</string>
	<key>51021</key>
	<string>Indosat M3 (merged with Satelindo)</string>
	<key>51089</key>
	<string>Hutchison CP Telecommunications</string>
	<key>51501</key>
	<string>Islacom</string>
	<key>51502</key>
	<string>Globe Telecom</string>
	<key>51503</key>
	<string>Smart Communications</string>
	<key>51505</key>
	<string>Digitel (Sun Cellular Mobile)</string>
	<key>51511</key>
	<string>Digitel Fixed Line</string>
	<key>51513</key>
	<string>Digitel Fixed Line</string>
	<key>51518</key>
	<string>CURE</string>
	<key>51527</key>
	<string>Digitel Fixed Line</string>
	<key>51530</key>
	<string>Digitel Fixed Line</string>
	<key>51543</key>
	<string>Digitel Fixed Line</string>
	<key>515752</key>
	<string>Digitel Fixed Line</string>
	<key>515753</key>
	<string>Digitel Fixed Line</string>
	<key>51584</key>
	<string>Digitel Fixed Line</string>
	<key>51586</key>
	<string>Digitel Fixed Line</string>
	<key>52001</key>
	<string>Advanced Info Service PLC (AIS GSM)</string>
	<key>52018</key>
	<string>Total Access Comms Co. (DTAC)</string>
	<key>52023</key>
	<string>Digital Phone</string>
	<key>52099</key>
	<string>TA Orange (True Move Company)</string>
	<key>52501</key>
	<string>SingTel</string>
	<key>52503</key>
	<string>MobileOne</string>
	<key>52505</key>
	<string>StarHub</string>
	<key>52802</key>
	<string>B-Mobile</string>
	<key>52811</key>
	<string>DST</string>
	<key>53000</key>
	<string>Telecom New Zealand</string>
	<key>53001</key>
	<string>Vodafone New Zealand Ltd.</string>
	<key>53002</key>
	<string>Telecom New Zealand</string>
	<key>53004</key>
	<string>Telstra</string>
	<key>53005</key>
	<string>Telecom New Zealand</string>
	<key>53024</key>
	<string>NZ Communications (2degrees)</string>
	<key>53703</key>
	<string>Digicel (PNG) Limited</string>
	<key>54101</key>
	<string>Telecom Vanuatu Ltd (SMILE)</string>
	<key>54105</key>
	<string>Digicel</string>
	<key>54201</key>
	<string>Vodafone</string>
	<key>54202</key>
	<string>Digicel</string>
	<key>54720</key>
	<string>Vini (Tikiphone)</string>
	<key>54801</key>
	<string>Telecom Cook Islands</string>
	<key>54901</key>
	<string>Digicel</string>
	<key>60201</key>
	<string>MobilNil</string>
	<key>60202</key>
	<string>Misfrone (Vodafone Egypt)</string>
	<key>60203</key>
	<string>Etisalat</string>
	<key>60301</key>
	<string>ATM Mobilis</string>
	<key>60302</key>
	<string>Orascom Telecom Algerie Spa (Djezzy)</string>
	<key>60303</key>
	<string>Wataniya Telecom (Nedjma)</string>
	<key>60400</key>
	<string>Medi-Telecom</string>
	<key>60401</key>
	<string>Maroc Telecom (Itissalat Al-Maghrib)</string>
	<key>60502</key>
	<string>Tunisie Telecom</string>
	<key>60503</key>
	<string>Orascom Telecom Tunisie</string>
	<key>60600</key>
	<string>Libyana</string>
	<key>60601</key>
	<string>El Madar Telephone</string>
	<key>60701</key>
	<string>Gamcel</string>
	<key>60702</key>
	<string>Telecom Cellular (Africell)</string>
	<key>60801</key>
	<string>Sonatel (Alize)</string>
	<key>60802</key>
	<string>Sentel</string>
	<key>60901</key>
	<string>Mattel</string>
	<key>60910</key>
	<string>Mauritel Mobiles</string>
	<key>61001</key>
	<string>Malitel</string>
	<key>61002</key>
	<string>Orange (Ikatel)</string>
	<key>61202</key>
	<string>A-Cell</string>
	<key>61203</key>
	<string>Orange (SIM Ivoiris)</string>
	<key>61204</key>
	<string>Comium</string>
	<key>61205</key>
	<string>Loteny Telecom (MTN)</string>
	<key>61301</key>
	<string>Telemob SA (Onatel)</string>
	<key>61303</key>
	<string>Telecel</string>
	<key>61401</key>
	<string>Celtel</string>
	<key>61501</key>
	<string>Togo Cellulaire</string>
	<key>61505</key>
	<string>Telcel</string>
	<key>61601</key>
	<string>Libercom</string>
	<key>61603</key>
	<string>Spacetel-Benin (BeninCell)</string>
	<key>61701</key>
	<string>Cellplus</string>
	<key>61710</key>
	<string>Emtel</string>
	<key>61801</key>
	<string>Lonestar Communications Corp.</string>
	<key>61804</key>
	<string>Comium Liberia Inc</string>
	<key>61807</key>
	<string>Celcom</string>
	<key>61901</key>
	<string>Celtel</string>
	<key>61902</key>
	<string>Millicom</string>
	<key>61904</key>
	<string>Comium</string>
	<key>61905</key>
	<string>Africell</string>
	<key>62001</key>
	<string>ScanCom Ltd (MTN)</string>
	<key>62002</key>
	<string>Ghana Telecom Mobile</string>
	<key>62006</key>
	<string>Zain Communications Limited</string>
	<key>62120</key>
	<string>Celtel Nigeria (Vmobile)</string>
	<key>62130</key>
	<string>Nigeria Communications Ltd (MTN)</string>
	<key>62150</key>
	<string>Globacom</string>
	<key>62201</key>
	<string>Celtel</string>
	<key>62203</key>
	<string>TIGO - Millicom</string>
	<key>62401</key>
	<string>MTN Cameroon</string>
	<key>62402</key>
	<string>Orange Cameroun S.A.</string>
	<key>62501</key>
	<string>CV Movel</string>
	<key>62502</key>
	<string>T+ Telecom</string>
	<key>62701</key>
	<string>GETESA</string>
	<key>62801</key>
	<string>Libertis</string>
	<key>62802</key>
	<string>TELECEL</string>
	<key>62803</key>
	<string>Celtel</string>
	<key>62901</key>
	<string>Zain Congo - GSM 900</string>
	<key>62910</key>
	<string>Libertis Telecom - GSM 900</string>
	<key>63002</key>
	<string>Celtel</string>
	<key>63089</key>
	<string>SAIT Telecom</string>
	<key>63102</key>
	<string>Unitel</string>
	<key>63301</key>
	<string>Cable &amp; Wireless</string>
	<key>63310</key>
	<string>Telecom Seychelles (Airtel)</string>
	<key>63401</key>
	<string>Mobitel</string>
	<key>63402</key>
	<string>MTN Sudan (Bashair)</string>
	<key>63405</key>
	<string>Vivacell</string>
	<key>63510</key>
	<string>MTN RwandaCell</string>
	<key>63512</key>
	<string>RwandaTel</string>
	<key>63601</key>
	<string>Ethiopian Telecommunications</string>
	<key>63801</key>
	<string>Djibouti Telecom</string>
	<key>63902</key>
	<string>Safaricom</string>
	<key>63903</key>
	<string>Zain (Celtel Kenya)</string>
	<key>63905</key>
	<string>Econet Wireless Kenya Limited</string>
	<key>63907</key>
	<string>Orange</string>
	<key>64002</key>
	<string>MIC Tanzania Ltd (Mobitel)</string>
	<key>64003</key>
	<string>Zanzibar Telecom (ZANTEL)</string>
	<key>64004</key>
	<string>Vodacom</string>
	<key>64005</key>
	<string>Celtel Tanzania</string>
	<key>64101</key>
	<string>Celtel Uganda Limited (Zain Uganda)</string>
	<key>64110</key>
	<string>MTN Uganda</string>
	<key>64111</key>
	<string>Uganda Telecom Ltd (UTL Telecel)</string>
	<key>64203</key>
	<string>Telecel</string>
	<key>64301</key>
	<string>mCel (TDM)</string>
	<key>64304</key>
	<string>Vodacom</string>
	<key>64501</key>
	<string>Celtel Zambia Ltd (Zain)</string>
	<key>64502</key>
	<string>Telecel Zambia</string>
	<key>64503</key>
	<string>Zamtel (Cell Z)</string>
	<key>64602</key>
	<string>Orange</string>
	<key>64604</key>
	<string>Telma Mobile</string>
	<key>64700</key>
	<string>Orange (France Telecom)</string>
	<key>64702</key>
	<string>Outremer Telecom</string>
	<key>64710</key>
	<string>SFR</string>
	<key>64801</key>
	<string>P + T Corporation (NET*ONE)</string>
	<key>64803</key>
	<string>Telecel Zimbabwe</string>
	<key>64804</key>
	<string>Econet</string>
	<key>64901</key>
	<string>MTC</string>
	<key>64903</key>
	<string>Powercom (Pty) Ltd (Cell One)</string>
	<key>65001</key>
	<string>Telekom Network Ltd (TNM)</string>
	<key>65010</key>
	<string>CelTel</string>
	<key>65101</key>
	<string>Vodacom Lesotho</string>
	<key>65102</key>
	<string>Econet</string>
	<key>65201</key>
	<string>Mascom Wireless (Pty) Ltd.</string>
	<key>65202</key>
	<string>Vista Cellular (Orange)</string>
	<key>65310</key>
	<string>Swazi MTN</string>
	<key>65401</key>
	<string>Comores Telecom</string>
	<key>65501</key>
	<string>Vodacom</string>
	<key>65507</key>
	<string>Cell-C</string>
	<key>65510</key>
	<string>MTN</string>
	<key>70267</key>
	<string>Belize Telecommunications Ltd.</string>
	<key>70402</key>
	<string>Comcel</string>
	<key>70601</key>
	<string>CTE Telecom Personal SA de CV</string>
	<key>70603</key>
	<string>Telemovil EL Salvador S.A</string>
	<key>70801</key>
	<string>Claro</string>
	<key>70802</key>
	<string>Telefonica Celular S.A (CELTEL)</string>
	<key>71021</key>
	<string>Enitel</string>
	<key>71073</key>
	<string>Enitel</string>
	<key>71201</key>
	<string>I.C.E. - GSM</string>
	<key>71202</key>
	<string>I.C.E. - GSM</string>
	<key>71209</key>
	<string>I.C.E. - GSM</string>
	<key>71401</key>
	<string>Cable &amp; Wireless</string>
	<key>71404</key>
	<string>Digicel (Panama) S.A.</string>
	<key>71420</key>
	<string>Telefonica</string>
	<key>71606</key>
	<string>Movistar (Telefonica)</string>
	<key>71610</key>
	<string>America Movil Peru S.A.C (CLARO PERU)</string>
	<key>722310</key>
	<string>AMX Argentina (Claro)</string>
	<key>722320</key>
	<string>AMX Argentina (Claro)</string>
	<key>722330</key>
	<string>AMX Argentina (Claro)</string>
	<key>722340</key>
	<string>Personal GSM 1900</string>
	<key>72270</key>
	<string>Telefonica Movistar</string>
	<key>72402</key>
	<string>TIM</string>
	<key>72403</key>
	<string>TIM</string>
	<key>72404</key>
	<string>TIM</string>
	<key>72405</key>
	<string>Claro</string>
	<key>72406</key>
	<string>VIVO</string>
	<key>72408</key>
	<string>TIM</string>
	<key>72410</key>
	<string>VIVO</string>
	<key>72411</key>
	<string>VIVO</string>
	<key>72416</key>
	<string>Brazil Telecom</string>
	<key>72423</key>
	<string>VIVO</string>
	<key>72424</key>
	<string>Amazonia Celular</string>
	<key>72431</key>
	<string>TNL PCS (Oi)</string>
	<key>73001</key>
	<string>ENTEL PCS Telecomunicaciones</string>
	<key>73002</key>
	<string>Telefonica Movil de Chile</string>
	<key>73003</key>
	<string>Claro Chile</string>
	<key>73010</key>
	<string>Entel Telefonia Movil</string>
	<key>732103</key>
	<string>Movil SA (Tigo)</string>
	<key>732111</key>
	<string>Movil SA (Tigo)</string>
	<key>732123</key>
	<string>Telefonica Moviles Colombia S.A. (Movistar)</string>
	<key>73402</key>
	<string>Corporacion Digitel C.A. (DIGITEL)</string>
	<key>73404</key>
	<string>Telcel C.A. (Movistar)</string>
	<key>73406</key>
	<string>Telecomunicaciones Movilnet C.A.</string>
	<key>73601</key>
	<string>Nuevatel PCS De Bolivia S.A.</string>
	<key>73602</key>
	<string>ENTEL Movil</string>
	<key>73630</key>
	<string>Telefonica Celular De Bolivia S.A.</string>
	<key>73801</key>
	<string>Digicel Guyana</string>
	<key>73802</key>
	<string>Telephone&amp;Telegraph Co.</string>
	<key>74000</key>
	<string>Movistar (Otecel)</string>
	<key>74001</key>
	<string>Conecel (Porta)</string>
	<key>74201</key>
	<string>Orange</string>
	<key>74401</key>
	<string>Hola Paraguay S.A. (VOX)</string>
	<key>74402</key>
	<string>Claro (Hutchison Telecom)</string>
	<key>74404</key>
	<string>Telecel S.A.</string>
	<key>74405</key>
	<string>Nucleo S.A (Personal)</string>
	<key>74602</key>
	<string>Telesur</string>
	<key>74603</key>
	<string>Digicel</string>
	<key>74801</key>
	<string>ANTEL</string>
	<key>74807</key>
	<string>Telefonica Moviles</string>
	<key>74810</key>
	<string>AM Wireless (Claro)</string>
</dict>
</plist>
